*{
   font-family: 'Roboto', sans-serif; 
}

#footer{

    background-color: #EA9043;
    border: 0.1rem solid black;
    padding-left: 1rem;
}

.centro{

    padding-top: 1rem;
}

.bg-color-header{

    background: #040404;
}

.navbar-brand{

    width: 5rem;
}

.carousel-control-prev{

    font-size: 4rem;
    font-weight: 700;
    color: aliceblue;
}

.carousel-control-next{

    font-size: 4rem;
}

.card{

    margin-top: 1rem;
    background-color: #202020;
    color: #FFFFFF;
}

.tamanho-1{

    margin-top: 5rem;
}

.tamanho{

    font-size: 3rem;
}

.btn{

    margin: 0 0 7rem 0 ;
}

.navbar{

    border-bottom: 0.2rem solid black;
}

.carousel{

    border: 0.1rem solid black;
    margin: 4rem 0 0 0;
}

.marrie{

    display: flex;
    align-items: center;
    justify-content: center;
}

.hist-fun{

    margin-top: 5rem;
    margin-bottom: 4rem;
    border-top: 0.2rem solid black;
    padding-left: 1rem;
    padding-right: 0.1rem;
}

.hist-mc{
    
    border-bottom: 0.2rem solid black;
    padding-left: 1rem;
    padding-right: 0.1rem;
}

.bruce{

    font-size: 1.4rem;
}

.tamanho{

    font-size: 2.5rem;
}

.secun{

    font-size: 1.5rem;
}

bi-youtube, .bi-instagram, .bi-facebook, .bi-twitter{
    font-size: 2rem;
}

span{

    color: #C0BFBD;
}

.cor{

    color: #C0BFBD;
}

i{
    font-size: 2rem;
}

a{

    font-size: 4rem;
}

body{
    overflow-x: hidden;
    background-color: #C0BFBD;
}

@media(max-width: 700px){

    .card{
        margin-top: 1rem;
    }
}

@media(max-width: 450px){

    .card{
        margin-top: 1rem;
    }
}

@media(max-width: 575px){

    .navbar-brand{

        width: 5rem;
    }
}

@media(max-width: 575px){

    .navbar-brand{

        width: 2rem;
    }
}

